.container {
  flex: 1;
  max-width: 480px;
  border: 1px solid #ddd;
  padding: 16px;
  padding-bottom: 30px;
  border-radius: 8px;

  .title {
    margin-bottom: 15px;
  }

  .text {
    font-size: 30px;
    font-weight: 600;

    span {
      color: #b2b2b2;
      font-size: 15px;
      font-weight: 300;
      margin-left: 10px;
    }
  }
}
