.container {
  @media (max-width: 1025px) {
    display: none;
  }
}

.custom-form-item {
  display: flex;
  align-items: center; /* Выравнивание метки и поля ввода по вертикали */
}

.custom-form-item .ant-form-item-label {
  display: flex;
  align-items: center; /* Выравнивание метки по вертикали */
}

.custom-form-item .ant-form-item-control {
  display: flex;
}

.input {
  width: 100%;
  border-radius: 5px;
  padding: 6px 11px;
  border: 1px solid #d9d9d9;
  font-size: 14px;

  &:focus {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
  }
}
