.wrapper {
  margin-bottom: 20px;
}

.container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;

  .text {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }

  .value {
    font-size: 30px;
    font-weight: 500;
  }

  .add-info {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #aaa;
    font-weight: 300;

    &__value {
      color: #8ab9ff;
    }
  }

  .symbol {
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
  }
}
